.title-container {
    background-color: cyan;
    height: 80px;
    width: auto;
}

header {
    font-size: xx-large;
    padding: 20px;
    font-weight: 900;
}

h1 {
    padding-left: 10px;
    font-size: larger;
}

.border-rectangle {
    border: 2px dotted lightskyblue;
    height: 200px;
    display: flex;
    justify-content: left
}

.purple-container {
    background-color: purple;
    height: 80px;
    width: 150px;
    border: 3px solid red;
    margin-top: 100px;
    margin-left: 10px;
}

.blue-container {
    background-color: blue;
    height: 80px;
    width: 80px;
    box-shadow: 3px 3px black;
    margin-top: 100px;
    margin-left: 10px;
}

.pink-container {
    background-color: palevioletred;
    height: 150px;
    width: 150px;
    margin-top: 33px;
    margin-left: 15px;
    border: 1px solid black;
    border-radius: 1px;
}

h2 {
    font-size: larger;
    padding-left: 10px;
}

.border-circle {
    border: 2px dotted lightskyblue;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.top-circle {
    height: 60px;
    width: 60px;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 5px;
}

.middle-circle {
    height: 90px;
    width: 90px;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 16px;
}

.bottom-circle {
    height: 120px;
    width: 120px;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 5px;
}

h3 {
    font-size: larger;
    padding-left: 10px;
}

.border-everything {
    border: 2px dotted lightskyblue;
    height: 220px;
}

.square {
    background-color: lightyellow;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin: 10px;
    position: relative;
}

.circle {
    height: 150px;
    width: 150px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    bottom: 330px;
    margin-left: 10px;
}

.small-square {
    background-color: red;
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 355px;
    margin-left: 35px;
}

#random-text {
    position: absolute;
    bottom: 360px;
    margin-left: 50px;
    color: white;
}

.small-circle {
    background-color: blue;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    bottom: 375px;
    margin-left: 35px;
}

#fish {
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 390px;
    margin-left: 50px;
}